[2016-07-18 06:08] shinygang opened #1 "有考虑2月28天和润年的情况吗"
有考虑2月28天和润年的情况吗

[2016-07-18 06:29] hustcc commented on #1
考虑过的，并且是支持的，我一会再testcase中增加一个用例。

[2016-07-18 06:31] #1 closed, assigned to nobody

[2016-07-18 06:32] hustcc commented on #1
![image](https://cloud.githubusercontent.com/assets/7856674/16907237/5a051350-4cf4-11e6-9049-5da1da96b8ab.png)
已经增加测试用例。

[2016-08-10 12:24] hustcc opened #2 "中文 一周后"
中文`一周后`，应该为`1周后`，和其他保持一致。

[2016-08-10 12:26] #2 closed, assigned to nobody

[2016-09-08 20:56] dashed opened #10 "npm module without the universal module definition boilerplate"
Kudos for this library!

I'm wondering if there is a possibility for an npm module without the universal module definition (umd) boilerplate: https://github.com/hustcc/timeago.js/blob/a0f872529bdec6ef7a8e340a567b8bcf73b48cb6/src/timeago.js#L2-L7

[2016-09-08 22:59] simevidas opened #12 "Why not build on top of the standard HTML <time> element?"
You can read about the `<time>` element [here](https://css-tricks.com/time-element/). You could use the standard `datetime` attribute instead of `data-timeago`, and you could also make the library work on `<time>` elements with zero configuration.

[2016-09-09 00:34] hustcc commented on #12
This is a good idea, bolow need to be considered:
1. browse supported or compatibility
2. Downward compatibility
3. can not add little code to keep tiny

thanks for suggestion, if you have free time, waiting for your pr. ^_^~

[2016-09-09 01:26] hustcc commented on #10
you mean like this:

[code]

or what ?

[2016-09-09 03:19] dashed commented on #10
To clarify, I'm asking if there may be an npm module without the universal module definition wrapping code, so as to keep the library light when used with module bundlers like webpack or browserify.

Example:

[code]

---

This might require a change in how timeago.js is packaged for npm, browser, etc.

Feel free to close this issue if this is a wontfix.

[2016-09-09 03:31] hustcc commented on #10
If just `module.exports = timeago;`, it will more tiny, but the library will can not be used with `scirpt` tag:

[code]

so many user just use it with `script` to import it.

[2016-09-09 12:12] jcubic opened #13 "Issue with 11..19 and n1 numbers and polish locale"
I've created Polish locale (will create PR) but have problems. In polish
"1 month" ago is "1 miesiąc temu"
"%s months ago" is "%s miesięce temu"
but for numbers 11..19, 21 31, ..., 91 is "%s miesięcy temu"

and there is no way to have this locale without modification of the library. Maybe locale be a function that accept number and unit like:

[code]

and the code can detect if locale is function

[2016-09-09 12:46] hustcc commented on #13
@_@, ^=_=^
so function locale should be allowed, or the only way of locale is function？

[2016-09-09 12:58] jcubic commented on #13
I think it should be allowed, so the old locale will work without the need to covert them to functions.

[2016-09-09 13:03] hustcc commented on #13
OK, It can only be this way. Polish is a very specia language ^_^~

You can just do it, but keep the library little, and the `tests/locales_test.js` must be updated also.

[2016-09-09 13:24] hustcc commented on #13
In fact, the locales were added in 2 days (today and yesterday)， so I think the locales rule can be updated. The rules now `is not very prefact`, it can be:
1. all locales can be `independent module`;
2. `timeago.register('locale_name', locale_func)`, the locale_func can be require from 1 ;
3. the build in locales(en, zh_CN) can modified to `function`.

If change the locales rule to above, the lib

[2016-09-09 14:35] hustcc commented on #13
just have a look https://github.com/hustcc/timeago.js/commit/5c834b3a1ac51c4fd990d3c961d1870c2228a4b3. @NicoJuicy @paulcmal @CreativeSparkStudios @jcubic

update the locales, use `locale function`. and all locale.js should be a javascript module.

[code]

the locales rule more prefact, and the library from 2.5kb to 2.1 kb. ^_^~

[2016-09-09 18:28] #13 closed, assigned to nobody

[2016-09-10 05:03] #10 closed, assigned to nobody

[2016-09-10 06:01] hustcc opened #19 "locale translations are needed"
The locales is [here](https://github.com/hustcc/timeago.js/blob/master/src/lang), you can add the miss name.
1. Please **sort by dictionary**.
2. Please ensure the **accuracy**.
3. Please keep file size **tiny**.

## How to ?
1. Add you locale file into [locales dir](https://github.com/hustcc/timeago.js/tree/master/src/lang).
2. Add you locale key into [file](https://github.com/hustcc/timeago.js/b

[2016-09-11 17:20] shaneog opened #23 "Generate a build with all locales included"
It would be useful to generate a minimised build with all locales included and registered, similar to what Moment.js does, e.g. `timeago-with-locales.min.js`, so that anyone wanting to include all locales can just load that - even if it is a larger file.

[2016-09-11 22:29] hustcc commented on #23
That is a very nice idea.

select locales which are needed, then  pack and download?

[2016-09-12 13:24] shaneog commented on #23
That could be done too - I was thinking more of an all-in-one file in the `/dist` folder.

[2016-09-12 15:32] RyanZim commented on #12
As for browser support: http://caniuse.com/#feat=html5semantic.

[2016-09-13 01:29] hustcc commented on #12
@simevidas @RyanZim I will learn for it. If you has some code, welcome to pull a request. ^_^~

[2016-09-13 01:39] hustcc commented on #23
I will do it when the `locales` is enough.

And I have to think about how to pack them in one? because `timeago.js` return an `constructor`, and register API is the timeago object instance.

So I can do like this:

[code]

this may can work. What do you think?

[2016-09-13 11:37] shaneog commented on #23
That sounds pretty good - would it require two `script` includes, or just one?

[2016-09-13 12:04] hustcc commented on #23
Just one, will pack into one file and minify it.

[2016-09-13 12:06] likerRr commented on #23
@hustcc I think you should move locales registration out of `timeago` instance, e.g. :

[code]

[code]

After that you can add locales in runtime. E.g. script with all locales could look like this:

[code]

[code]

[code]

What do you think?

[2016-09-13 12:11] hustcc commented on #23
@likerRr You are a nice man who always has nice ideal^_^~ How to keep compatible with previous versions, I think You can send a PR for this.

@shaneog His way can meet your needs ?

[2016-09-13 12:17] shaneog commented on #23
Great idea @likerRr 👍
@hustcc It would meet my needs.

Regarding the backwards compatibility - it might be worth cutting a v2.0.0 for this change, because it's big.

[2016-09-13 12:25] likerRr commented on #23
@hustcc very pleasant to hear that from you! Honestly we should think more about locales delivery. Probably there is a better solution.

As for backward compatibility, for example we can add warning to existing method and keep it for few next versions until the API is established. Something like this:

[code]

[2016-09-13 12:40] hustcc commented on #23
That will be ok~Should keep it tiny and simple.

[2016-09-14 11:41] moubi commented on #19
@hustcc I am done with Bulgarian translation. May I have collaborator access in order to push the branch and open PR?

[2016-09-14 12:01] hustcc commented on #19
fork it, and send a pr.

[2016-09-15 02:52] cocody opened #47 "建议用 var timeago = new Timeago(); 这种写法"
表明这是个实例，而不是其他

[2016-09-15 04:52] hustcc commented on #47
意思是用大写，还是加上 new ？

[2016-09-15 16:29] ajphukan opened #53 "locale language ( india_Hindi)"
I like to contribute in your project ..
If you have any instruction for me ...

[2016-09-16 01:16] hustcc commented on #53
You are on the way to contribute. ^_^

 Just see [contributions](https://github.com/hustcc/timeago.js#3-contributions) of README.

Thank you.

[2016-09-16 01:26] #53 closed, assigned to nobody

[2016-09-17 01:40] breeswish commented on #47
Agree for using constructors. Current style is misleading and is bad for code review. Besides, using constructor & prototype saves memory because methods are shared instead of duplicated.

[2016-09-17 01:44] breezewish opened #59 "Allow using attributes other than data-timeago"
For example, when timeago.js is applied on `<time>` tags, it can make use of the `datetime` attribute. Currently we need to duplicate `datatime` attribute to `data-timeago` attribute, which is nonsense.

[2016-09-17 01:50] breezewish opened #60 "A space should be inserted between half-width characters and full-width characters"
bad: `6月前`

good: `6 月前`

[2016-09-17 02:00] hustcc commented on #47
I will make a 2.0 version for big changs, welcome to submit pr.

[2016-09-17 02:01] breezewish opened #61 "Move locale as the first parameter for `timeago()`"
It is much more common to changing locale compare to changing base time.

[2016-09-17 02:02] hustcc commented on #59
I will do it in 2.0version, welcome to submit pr to branch v2.0~

[2016-09-17 02:12] breezewish commented on #60
Space between half-width and full-width characters is a commonly adapted habit, for example in products of Google, Microsoft, Adobe. In addition, most of typography tools (like Office word, Adobe InDesign) automatically add space. There is also a W3C draft standard recommended to add space: http://w3c.github.io/clreq/#mixed_text_composition_in_horizontal_writing_mode

[2016-09-17 02:13] hustcc commented on #61
the 2th parameter is from pr later, consider for compatibility.

[2016-09-17 02:17] hustcc commented on #60
`6 月前` is the standard style, but that is for lots of content, for a tag, remove the blank maybe better, you can haveq a try.

orw you register your style.

[2016-09-17 03:14] breezewish commented on #60
You are right. It looks better to not having space in short tags. However I'm going to always add a space for unification purpose :P

[2016-09-17 03:14] #60 closed, assigned to nobody

[2016-09-17 03:19] breezewish commented on #61
Yes its reasonable for compatibility consideration. Since you are going to release version 2, according to semantic version you can introduce some incompatible changes, for example, changes that fixing this issue 😆

[2016-09-17 04:46] hustcc commented on #61
Thank you for suggestion.^_^

[2016-09-18 02:50] hustcc opened #67 "[discuss] v2.0.x version"
:walking:  The v1.x.x received so many feedbacks and suggestions, so v2.0.x will do it.

v2.0.x will not compatible with v1.0.x, details below:
- [x] Read date from `datetime` attribute for `<time datetime='xxxxx'>`.
- [x] API `register` will be a static method, replace of an instance method.
- [x] Will use coding style of `new timeago()`.

What else, welcome to additional.
ref #12 #23 #47 #59 #61

[2016-09-18 03:34] hustcc commented on #67
see branch [v2.0.x](https://github.com/hustcc/timeago.js/tree/v2.0.x).

[2016-09-18 04:13] hustcc commented on #67
@breeswish @cocody @likerRr @shaneog @simevidas @RyanZim

Just have a look at v2.0.x futures on master branch.

[2016-09-18 04:15] #61 closed, assigned to nobody

[2016-09-18 04:15] #12 closed, assigned to nobody

[2016-09-18 04:15] #59 closed, assigned to nobody

[2016-09-18 04:15] #47 closed

[2016-09-18 04:40] simevidas commented on #67
Usage with `<time datetime>` seems to work 👍, after running:

[code]

**[Live demo](https://jsbin.com/nonusu/edit?html,output).**

![capture](https://cloud.githubusercontent.com/assets/716405/18612927/b80ae820-7d6a-11e6-996b-7dbc69d03d08.PNG)

[2016-09-18 11:10] likerRr commented on #67
Hi, @hustcc ! Great work and I have few words to add. Give me a time to summarize and I will post my minds with PRs, thx.

[2016-09-18 11:14] hustcc commented on #67
@likerRr ok, waiting~

[2016-09-18 17:10] likerRr commented on #67
@hustcc , here are my minds and some improvements suggestions.

### `Will use coding style of new timeago()`

Using word `new` is not just a `style`. It has its [own meaning](https://css-tricks.com/understanding-javascript-constructors/) at the language layer. Sorry, but function constructor implementation in v2 is wrong and it pollutes global object with its own methods when is called like `timea

[2016-09-19 00:58] breezewish commented on #67
Cheers.

@likerRr A better solution might be using `options`?
`options.locale`
`options.baseTime`
etc.

[2016-09-19 01:06] breezewish commented on #67
@likerRr

I think (guess) the position of this library is to present relative time to users in a lite way. That's why it includes the most interesting and **unique** feature: automatic update relative time text. In this scenario, users are likely to use current time as the base time and changing the base time is minimal. On the other hand, since the contribution of i18n is very active, changing lo

[2016-09-19 01:26] hustcc commented on #67
@likerRr I run in `timeago.js`, the API is not in gloabal scope.

![image](https://cloud.githubusercontent.com/assets/7856674/18620726/a4fcd384-7e4a-11e6-8245-744fb0a478bb.png)
![image](https://cloud.githubusercontent.com/assets/7856674/18620727/b68bf83c-7e4a-11e6-88bc-80821c508cb4.png)

@breeswish the order of paramter has no effect on locales. About the paramters order, you all hava principles,

[2016-09-19 06:11] likerRr commented on #67
@hustcc Hi! Please, read carefully: `when is called like timeago(null, '2016-06-23')`. [Here](http://jsbin.com/qeqenuwika/edit?js,console) is the fiddle if we can't understand each other. I just made accent on this because when function constructor is implemented correctly then it won't be such issues. And there is such [usage](https://github.com/hustcc/timeago.js/blob/master/tests/test.js#L30) in

[2016-09-19 08:18] breezewish commented on #67
@likerRr I don't think everyone will come to an agreement on this issue since their requirements and the reasons of using this library are different. As I said before, `options` can be considered in the next version. It is a ultimate, good, comfort-for-all solution.

[2016-09-19 08:35] likerRr commented on #67
@breeswish I can't say that `options` is better, it complicates the usage. Anyway, `options` will be placed as the second parameter, so how it will differ from putting `locale` as the second parameter?

[2016-09-19 09:36] breezewish commented on #67
@likerRr What I'm saying is:

[code]

[2016-09-19 09:50] hustcc commented on #67
The parameters's order is `timeago(now_date, locale_name)`, same with v1.0.x. Pass this point. @likerRr  @breeswish

[2016-09-19 10:12] likerRr commented on #67
@hustcc ok, so I have nothing new to add

[2016-09-19 14:58] shaneog commented on #67
@hustcc Looking very nice!

I'm not seeing how this will resolve #23 though? I can see `locales.js` but nothing extra in the `/dist` folder.

[2016-09-20 05:31] hustcc opened #71 "defaultLocale not exists, will error."
[code]

Will except.

[2016-09-20 05:32] #71 closed, assigned to nobody

[2016-09-20 07:28] hustcc commented on #23
@shaneog see `dist/timeago.locales.min.js`, I use it in website [timeago.org](timeago.org).

[2016-09-20 08:43] likerRr opened #72 "What's the reason of using definePlugin in webpack?"
I don't see that you use [`process.env`](https://github.com/hustcc/timeago.js/blob/master/webpack.config.js#L6-L8) somewhere in [locales](https://github.com/hustcc/timeago.js/blob/master/src/timeago.locales.js), so what the reason of keeping `definePlugin`?

[2016-09-20 09:11] hustcc commented on #72
There is no meaning for it, from the Internal Project which has used React.

remove it. :haircut:

[2016-09-20 09:13] #72 closed, assigned to nobody

[2016-09-20 16:03] shaneog commented on #23
Excellent! Thank you, @hustcc 👍

[2016-09-20 16:03] #23 closed, assigned to nobody

[2016-09-20 16:03] shaneog commented on #67
👍 from me!

[2016-09-20 17:35] Sagorkhan commented on #23
Mine pleasure

[2016-09-21 05:11] hustcc opened #74 "When diff is Decimal & Negative"
When diff is Decimal & Negative, the real-time render is not REAL.

e.g.

when diff = -18.12, it will be rendered per 2 seconds, must be 1 second.

[2016-09-21 05:13] #74 closed, assigned to nobody

[2016-09-22 14:38] hustcc commented on #67
Then, close this issue ?

[2016-09-22 17:22] likerRr commented on #67
I think yes, we've done here

[2016-09-22 23:55] #67 closed, assigned to nobody

[2016-09-23 03:45] ClemMakesApps opened #77 "Add version number to built files"
It would be nice to have the version number in the generated files (in `/dist`)

Before:

[code]

After:

[code]

[2016-09-28 03:57] hustcc commented on #77
Good point, but not very necessary.

[2016-09-28 16:21] ClemMakesApps commented on #77
Not necessary but nice to have 😄

[2016-09-29 01:35] hustcc commented on #77
Can gulp do this ? welcome to submit a pr.

[2016-09-29 14:50] ClemMakesApps opened #80 "Generate separate timeago.js with only english locale"
It would be nice to have a generated `timeago.js` that only included the english as it's default locale. I am currently in a situation where I will not be using the chinese locale and would like to have them removed so that I can optimize the size of my third party dependencies.

Imo, it would be easier to have this part of this repo rather than me having to maintain my own fork.

Something like `

[2016-09-29 15:09] hustcc commented on #80
In fact, build-in locales(en, cn) can be applied to most scenes, delete zh_CN can only reduce little filesize, less than the version header.

So if you need a version with none build-in locales, just for redule the filesize, I think delete the version maybe better and more helpful._^_^_

[2016-09-29 15:37] #77 closed, assigned to nobody

[2016-09-29 15:41] ClemMakesApps commented on #80
Sure! That sounds like a good idea!

[2016-09-29 15:44] hustcc commented on #80
So do not care about the build-in locales. This is the smallest timeago library In thw world.

[2016-09-29 15:47] ClemMakesApps commented on #80
Yes. It would be great to have a version that has no default locales 👍

[2016-09-29 23:05] hustcc commented on #80
Ok, do you have any solution ?

gulp-wrap can do, but seems not perfect.

[2016-09-30 04:51] ichynul opened #81 "怎么都返回"刚刚""

[2016-09-30 05:59] hustcc commented on #81
你是如何使用的？可以贴一下你的代码，我来看看~

[2016-09-30 06:59] ichynul commented on #81
解决了，是版本不同的问题，data-timeago变成了datetime。
另外，可不可以不写datetime属性，直接替换里面的text 如:
`<span>2016-09-30 01:01:01<span>`
 =>
 `<span>13小时前<span>`

[2016-09-30 07:05] hustcc commented on #81
是，1.x.x 和 2.x.x的变化比较大，详细可以看 [wiki](https://github.com/hustcc/timeago.js/wiki).

[2016-09-30 07:10] hustcc commented on #81
其实建议的写法是：

[code]

这样比较符合h5规范。

[2016-09-30 15:47] ClemMakesApps commented on #80
Here are the options I think we have:
1. Remove all of the default locales from `timeago.js` (this would force everyone to load their own locale)
2. Generate new `timeago.nolocales.js` using something similar to `gulp-wrap` such that we can use pattern matching to remove the default locales found in `timeago.js`
3. Remove all the default locales from `timeago.js` and use that file to generate `tim

[2016-09-30 16:27] hustcc commented on #80
If dist/timeago.js can solve your problem, use it is the best option.

default en and zh can satisfy 80% developer, maybe. If you remove zh just for saving 30 bytes filesize, I think it is unfair to so many developer in China, include me.

all locales can be required, but more convenient when it is default.

default locales are optimisticed in filesize, they are much more little than pack from req

[2016-10-02 01:48] ClemMakesApps commented on #80
In that case, looks like the best solution would be to use some kind of pattern matching to remove the chinese locale to generate something like `timeago.en.js`.

And just to be clear, I think it's totally okay to have a `timeago.js` with a default in en and zh. I just wanted to lay out the options 😄

[2016-10-02 03:59] #81 closed, assigned to nobody

[2016-10-02 03:59] #80 closed, assigned to nobody

[2016-10-10 00:11] ClemMakesApps opened #87 "Webpack vs Gulp"
I had a question as to why we are using gulp and webpack. Why not just use one or the other?

[2016-10-10 06:21] likerRr commented on #87
@ClemMakesApps I think it's because of size. I made test build of `timeago` with `webpack2` + `uglify` plugin and the final size was more then just with `uglifyjs` running by `gulp`. The main problem is that `webpack` generates extra code for require functionality and wraps each module in kind of IIFE.

Since `timeago` very small it doesn't have a lot of modules (actually it's one module) so using

[2016-10-13 12:20] empirefox opened #88 "agoin is not defined"

[2016-10-13 12:22] likerRr commented on #88
@empirefox could you provide more info about the issue?
What have you done to receive it?

[2016-10-13 12:30] empirefox commented on #88
I just use it with angular2 as a pipe, and it always gives me that error. The value used is 1476010244000. I search 'agoin' in source, it looks like 'agoin' is indeed not defined.
[https://github.com/hustcc/timeago.js/blob/master/src/timeago.js#L60](https://github.com/hustcc/timeago.js/blob/master/src/timeago.js#L60)

[2016-10-13 13:01] empirefox commented on #88
Here is the code: [https://github.com/empirefox/ec-front/blob/master/src/app/core/pipes/ago.pipe.ts](https://github.com/empirefox/ec-front/blob/master/src/app/core/pipes/ago.pipe.ts)

[2016-10-13 13:32] likerRr commented on #88
Hope, #89 will solve the issue

[2016-10-13 13:47] #88 closed, assigned to nobody

[2016-10-13 13:57] hustcc commented on #88
Thank you. @likerRr @empirefox

Published as v2.0.3, typo fixed and more locales included.

[2016-10-17 09:17] #87 closed, assigned to nobody

[2016-11-28 05:31] nickdex opened #94 "Usage in Chrome Extension"
Can you advise me how to use this in a chrome extension?
I have included minified file in HTML but can't use npm to install.

[2016-11-28 05:36] hustcc commented on #94
You can just download the `dist/timeago.js` file into your chrome extension project wordspace.

Then there is no need to use npm to install.

[2016-12-09 05:05] hustcc commented on #94
Can help you ? If it has solved your problem, pls close the issue.

[2016-12-09 06:07] nickdex commented on #94
Sorry I got caught up in project and forgot to reply. I ended up using jQuery timeago library for now. I'm planning on migrating to node so I'll use your library at that time.

[2016-12-09 06:07] #94 closed, assigned to nobody

[2016-12-22 01:16] mariotacke opened #97 "Ignore "n seconds ago" and use "just now""
Is there any way to configure the library to not show "12 seconds ago" but instead use "just now" for values up to 59 seconds? I find that showing the seconds tends to distract the user because it is constantly updated.

I could register my own locale with the same value for seconds and minutes, but that seems hacky and does not translate for other locales.

[2016-12-22 01:36] hustcc commented on #97
You can write you own rules (or locale), such as https://github.com/hustcc/timeago.js/blob/master/locales/en_short.js.

[code]

Then register it.

[code]

[2016-12-22 01:40] hustcc commented on #97
the locale function format is:
[code]

**number**: the diff seconds
**index**: the index of diff seconds, something useless
return **the formated string**.

[2016-12-23 11:36] millette opened #98 "Taking too much CPU with jQuery"
Found something very weird on Firefox 45.6.0 on Debian. Adding a few instance.render() with jQuery uses lots of CPU, although on Chromium things were reasonable.

I was able to bring down CPU usage using the following loop:
[code]

If instead of a for loop I use

[code]

Then CPU usage seems to explode.

[2016-12-23 12:03] likerRr commented on #98
@millette Can you please add a plunkr with test code?

[2016-12-23 12:42] millette commented on #98
I tried to use plunkr:
http://plnkr.co/edit/E1Ilev?p=preview (**updated link**)

<del>Any suggestions to include the timeago JavaScript (and ideally the language file too)? For now, my plunkr is working in Firefox but not in Chrome because of the JS mimetime from github.</del><ins>There, fixed it using <https://cdnjs.cloudflare.com/ajax/libs/timeago.js/2.0.4/timeago.min.js></ins>.

More importantl

[2016-12-23 12:50] millette commented on #98
Now I'm pretty sure it was a problem due to jQuery 2.2.2 I was using. I've now switched to jQuery 2.2.4 and the problem disappeared.

[2016-12-23 12:50] #98 closed, assigned to nobody

[2016-12-23 13:34] likerRr commented on #98
@millette it's quite strange. I tested with jquery2.2.2 and it doesn't increase CPU usage at all http://clip2net.com/s/3FNKP8t

[2016-12-23 13:57] millette commented on #98
Hmm. Maybe it had something to do with my minifying... In any case, it's not an issue with timeago and as I figured it out, I stumbled on a fix on my end too.

[2016-12-30 23:07] greg-dev opened #100 "Incorrect plural forms in pl locale"
The current Polish translation needs some corrections, for example it shows "11 sekund**y** temu", ..., "19 sekund**y** temu" instead of "11 sekund temu", ..., "19 sekund temu". There are similar problems with other units of time, you can see it when running tests I've added in a separate PR https://github.com/hustcc/timeago.js/pull/99

[2016-12-31 09:06] hustcc commented on #100
@jcubic locale `pl` was created by jcubic, maybe you can discuess here for the language.

I know nothing about pl. ^_^

[2016-12-31 09:47] jcubic commented on #100
The fix in PR looks good.

[2017-01-03 01:11] hustcc commented on #100
@jcubic OK~

[2017-01-03 01:13] #97 closed, assigned to nobody

[2017-01-03 02:26] #100 closed, assigned to nobody

[2017-01-19 13:56] bonesoul opened #102 "new version with latest locales"
can you please push to bower with latest version of locales (like tr)?

[2017-01-20 02:00] hustcc commented on #102
OK.

[2017-01-22 03:17] bonesoul commented on #102
ty, waiting for it :)

[2017-01-22 04:07] hustcc commented on #102
`bower install timeago.js` can get the lastest version.

[2017-01-25 11:23] #102 closed, assigned to nobody

[2017-02-02 10:45] bonesoul opened #103 "can't render some timedata correctly"
`<span class="timeago" datetime="Tue Jan 31 2017 00:47:58 GMT+0300 (Turkey Standard Time)" data-popup="tooltip" data-placement="bottom" data-original-title="31 Ocak 2017 00:47">2 days ago</span>
`  => renders "2 days ago"

`<span class="timeago" datetime="Sat Jan 28 2017 01:06:12 GMT+0300 (Turkey Standard Time)" data-popup="tooltip" data-placement="bottom" data-original-title="28 Ocak 2017 01:06">

[2017-02-04 02:27] pbarger opened #104 "Certain timestamps cause busy loops when automatically rendered"
When certain timestamps are rendered by timeago's `render()` function, the delta between the timestamp and the current time that it calculates in `diffSec()` and passes to `nextInterval()` results in a timeout value larger than the effective upper limit for major browsers' `setTimeout()` implementation according to the [MDN docs](https://developer.mozilla.org/en-US/docs/Web/API/WindowTimers/setTim

[2017-02-05 03:25] hustcc commented on #104
Thank you for your issue. I will fixed it soon.

[2017-02-05 04:00] #104 closed, assigned to nobody

[2017-02-05 04:00] #103 closed, assigned to nobody

[2017-02-05 04:01] hustcc commented on #103
npm v2.0.5 is OK.

[2017-02-05 04:02] hustcc commented on #104
npm v2.0.5 will be OK. Very thanks for issue.

Happy China's new year. :1st_place_medal:

[2017-02-07 11:30] bonesoul commented on #103
when should we expect a release?

[2017-02-07 13:43] hustcc commented on #103
release v2.0.5 on github.

[2017-02-07 13:49] bonesoul commented on #103
hopefully we can also get a bower release soon too.

[2017-02-08 01:43] hustcc commented on #103
bower v2.0.5 done.

[2017-02-15 10:07] bytestream commented on #97
Was there a solution here that didn't involve loosing all the pre-defined translations?

[2017-02-15 10:51] hustcc commented on #97
@bytestream What is you meaning ?

[2017-02-15 10:54] bytestream commented on #97
Maybe I misunderstood, but if I define ````test_local_dict```` then I can change "n seconds ago" to "just now" for **one locale** (test_local_dict).

How do I change it for English, French, Chinese, Spanish, etc (list goes on) without editing all these files: https://github.com/hustcc/timeago.js/tree/master/locales?

[2017-02-15 11:17] hustcc commented on #97
Editing all these files may be the unique way.

Every locale has it's own tranlation to express `just now`.

[2017-02-22 08:49] andymans opened #105 "ES6"
My build gives the following error:

'default' is not exported by node_modules/timeago.js/dist/timeago.min.js

I use the suggested import:

`import timeago from 'timeago.js'`

[2017-02-22 10:13] hustcc commented on #105
Can you tell us the develop environment ?

[2017-02-24 00:47] riley-stroud-ck opened #106 "Typescript support"
Are you planning on adding support for typescript?

[2017-02-24 00:52] hustcc commented on #106
Can you do something to help me by a pr？

[2017-02-24 12:55] likerRr commented on #106
hope, #107 can help

[2017-02-24 13:45] hustcc commented on #106
666

[2017-02-25 13:21] likerRr commented on #106
@hustcc lol, what's that?

[2017-02-26 00:58] hustcc commented on #106
6 has the same pronunciation with 牛 in Chinese, 牛 is cow, but has meaning of perfect, or very good in somewhere.

666(three 6) means very very very good, and admire you for your develop ability.

[2017-02-26 15:29] breezewish opened #109 "Optimizations for using in components"
When this library is used in components with life-cycles (e.g. react), capabilities of unregistering a single relative time instance is critical.

Current implementations have several disadvantages in such circumstances:

1. Does not support canceling timer for a singular DOM in a timeago instance. Instead all timers in the instance are cancelled. Because of this, we need to create a timeago insta

[2017-02-27 01:42] hustcc commented on #109
Is [timeago-react](https://github.com/hustcc/timeago-react) can help ?

1. I don't know how cancel the timer for just one DOM node, maybe need a map to save something.

2. Done it with prototypes before, but will increase some file size, but not very big, I will redo it, also welcome for you pr.

[2017-02-27 06:13] likerRr commented on #106
@hustcc wow, very instructive, thank you

@rileystroud can you please try this branch and confirm if it works for you? You can install it through npm like:

`npm install hustcc/timeago.js#ts-support`

[2017-02-27 07:34] likerRr commented on #109
@hustcc @breeswish I added prototypes support in #110. Please, review it.

For now `doRender` member is put in prototype too, because I think it could be better optimized before moving it to private members. For example:
1. Do we really need `cnt` parameter? As far as I see it doesn't make any sence. @hustcc , correct me if I'm wrong.
2. Do we really need 'k' prefix [here](https://github.com/hustc

[2017-02-27 07:34] hustcc commented on #109
#110 for optimizations.

[2017-02-27 07:37] hustcc commented on #106
@rileystroud merge into master, so just `npm install hustcc/timeago.js` for test.

[2017-02-27 07:39] likerRr commented on #109
@hustcc please, note, that #110 doesn't include dist files, and it also adds additional 0.16kb to minified version (I checked it locally)

[2017-02-27 07:44] hustcc commented on #109
I review the code, there has no meaning of the timer key in array, so we remove the code about.

[2017-02-27 07:47] likerRr commented on #106
@hustcc probably you need to update npm version for that and update dist files (sorry, I didn't make it in #110, because I didn't know you could merge it so quickly)

[2017-02-27 07:50] likerRr commented on #109
@hustcc will you make it?

[2017-02-27 07:57] hustcc commented on #109
OK. [here](https://github.com/hustcc/timeago.js/commit/077965f5abf88078b16e9390e4e46944826fa1da#diff-374bc7657a5d9aae4ec99e137199aafc):

1. remove the `cnt`.
2. use array, `timer = []`.
3. in `cancel`, use for loop.

[2017-02-27 10:42] likerRr commented on #109
In #111 I tried to add support for cancellable timers, the idea is:
1. Add map of nodes and timers: `timerId` => `node`
2. Clear timer and delete it from the map by passing node's reference to `cancel` method.

details are inside the pr

[2017-02-27 12:04] hustcc commented on #109
@breeswish Is pr #111 can satisfy you need ?

[2017-02-27 14:34] breezewish commented on #109
Great work! @likerRr

I guess the time complexity of canceling a single timer can be improved from O(n) to O(1): by (additionally) storing the timer id to the node itself we could lookup timer id faster. However it may bring potential memory leak in old browsers (need more research on this). Ideas?

[2017-02-27 18:03] likerRr commented on #109
@breeswish do you mean using [datasets](https://developer.mozilla.org/ru/docs/Web/API/HTMLElement/dataset)? How can it cause memory leak?

[2017-02-27 19:00] riley-stroud-ck commented on #106
It's not working for me on my first pass. I'll get back to it in a couple hours

[2017-02-27 19:32] likerRr commented on #106
@rileystroud how did you install it? can you check if `timeago.d.ts` present in your `node_modules/timeago.js` folder?

[2017-02-28 08:23] riley-stroud-ck commented on #106
It installed fine. The typescript code wasn't compiling to the correct javascript.
[code]
compiled to
[code]
but there is no default function defined.

With #112,
[code]
compiles to the expected
[code]

[2017-02-28 08:36] likerRr commented on #106
I checked out your version (#112), it doesn't even compile with typescript ^2.2.1:

[code]

Which version of typescript do you use?

[2017-02-28 08:44] riley-stroud-ck commented on #106
I'm on typescript 2.2.1
@likerRr Did you update the import statement as above?

[2017-02-28 10:57] likerRr commented on #106
Yes, sorry, you was right, I incorrectly imported the module. Finally it works for me.

But, honestly, I have doubts. Your variant works fine, but syntax `import * as timeago from 'timeago.js'` is quite redundant. It's readed as "import all the members as timeago namespace\variable", but in fact there is only one exported member - timeago factory. I think, that interfaces `TimeAgoConstructor` and

[2017-02-28 15:20] breezewish commented on #109
Only in (very) old browsers which doesn't support datasets, e.g. IE 6. LOL

[2017-03-01 01:41] hustcc commented on #106
@rileystroud @likerRr  I think export default is the reason. So I think method 1.1 is better, also can solve #105.

[2017-03-01 02:11] hustcc commented on #109
@likerRr  Save in datasets maybe better then object.

1. O(n) to O(1)
2. No need to to judge whether they are the same nodes exactly (node1 === node2).
3. When use real-time render, we should set the date into node attribute or datasets, and dependent on DOM attribute or datasets.

[2017-03-01 02:28] hustcc commented on #105
fixed, will be effective when next version recently.

[2017-03-01 02:28] #105 closed, assigned to nobody

[2017-03-01 02:30] #106 closed, assigned to nobody

[2017-03-01 08:21] likerRr commented on #109
@hustcc I updated the #111 . Please review and  I think you can optimize it

[2017-03-01 10:18] hustcc commented on #109
OK~

[2017-03-01 11:15] hustcc commented on #109
@breeswish

[code]
When start a timer, will save timer's id(int) into data-tid, and when `cancel` one node, will read the attribute `date-tid`, then clearInterval it.

Can this will be OK ? or other suggestions.

[2017-03-01 16:55] breezewish commented on #109
I think it's good enough :)

[2017-03-02 01:28] #109 closed, assigned to nobody

[2017-03-10 01:56] edhollinghurst opened #117 "Cutoff option"
Has the implementation of a cutoff option ever been considered? This would display the original date if time distance is older than the cutoff.

This is implemented in the jQuery plugin: https://github.com/rmm5t/jquery-timeago

Would you consider a pull request for this feature?

[2017-03-10 02:08] hustcc commented on #117
Sounds good. The cutoff time of github maybe one month.

![image](https://cloud.githubusercontent.com/assets/7856674/23779079/183f52bc-0579-11e7-81ae-88505746e757.png)

**But how to show the original date with multi-language?** maybe need to add something in all the locales.

[2017-03-10 02:19] edhollinghurst commented on #117
Well if 'Automatic rendering' is used it could simply be specified using the text in the element. E.g.

`<div class="needs_to_be_rendered" datetime="2016-06-30 09:20:00" cutoff="1M">30 Jun 2016</div>`

The text is then only replaced if the timeago value is less than the cutoff.

[2017-03-10 02:44] hustcc commented on #117
I think it is nice.

@likerRr What do you think about it?

[2017-03-10 06:51] likerRr commented on #117
@hustcc @edhollinghurst Nice idea to have this feature, but we should carefully think about how it should be implemented.

As far as I understand we need to set a cutoff time not only for DOM nodes, because the library provides ability to format time without any node (`timeago().format()`). Thus `cutofftime` needs to be set during instantiation, e.g.: `timeago(date, locale, cutoff)`.

But if we ta

[2017-03-10 08:25] hustcc commented on #117
Really complicated.

[2017-03-10 08:54] likerRr commented on #117
Sorry :smile:

[2017-03-14 19:46] bytestream opened #119 "11 days instead of 1 week"
Is it possible to use ````11 days```` instead of ````1 week```` for example?

[code]

[2017-03-15 03:11] hustcc commented on #119
Can not do like this.

If add a parameter into locale funcion like:

[code]

Then you can code your own format function.

[2017-03-15 11:46] bytestream commented on #119
That would work. Want me to submit a PR?

[2017-03-15 11:49] hustcc commented on #119
ok, just do it, include README, and should be compatible with the exist locales.

[2017-03-15 16:08] bytestream commented on #119
Done!

[code]

[2017-03-16 01:35] hustcc commented on #119
Next version will be v 3.0.0, with this feature.

[2017-03-16 01:35] #119 closed, assigned to nobody

[2017-03-16 01:38] hustcc commented on #117
@edhollinghurst So the feature of cutoff will not be supported because of great changes.

[2017-03-16 01:55] edhollinghurst commented on #117
OK thanks for considering it.

[2017-03-16 01:55] #117 closed, assigned to nobody

[2017-03-16 06:28] likerRr commented on #119
Good work, but as I see Readme was not updated

[2017-03-16 08:08] hustcc commented on #119
`README_zh.md` was not updated.  I will do it later, and the test works for v3.0.0.

[2017-03-16 13:58] jackielii opened #121 "ability to set minimum update threshold"
Some one complained to me the value was updating too frequently when it's in seconds. Can we provide a way to pass in a minimum threshold?

Regards

[2017-03-17 01:31] hustcc commented on #121
You can solve by locale， e.g

[code]

or you can update per 5 sec:

[code]

[2017-03-17 10:03] jackielii commented on #121
Nice!

Great solution. Thanks

On Fri, Mar 17, 2017 at 1:31 AM, hustcc <notifications@github.com> wrote:

--
Jackie

[2017-03-17 13:58] #121 closed, assigned to nobody

[2017-03-23 17:31] jshah4517 opened #122 "How to handle differing server and client times"
What's the best way of handling when the server and client times differ? For example, if the clients clock is 5 mins behind, it would show 'in 5 minutes' instead of 'just now' which looks wrong.

I tried to enter a relative date like `timeago('2016-06-10 12:12:12')`, but after doing so it seems that the real-time updating no longer works. I believe this is because the diffSec function uses that da

[2017-03-24 02:03] hustcc commented on #122
That is realy a problem, the relative date can not solve the realtime render.

May be a time differ can solve it, but eveny client has different time differ.

[2017-03-24 17:43] likerRr commented on #122
@jshah4517 if something is wrong with a client's time, it's his problem. The library shows relative diff to the clients time, not to UTC or GMT or something else.

As for ux you can show an alert to a client, that his clock is out of date and if the user doesn't fix it, the timers could work wrong. ~That's how it's done in JIRA.~

[2017-03-24 17:59] likerRr commented on #122
Ok, to solve the auto render problem you should return correct time from server, compare it with the client's time and add the difference to relative time which you use instantiating timeago. Will it help?

`timeago('2016-06-10 12:12:12 + difference between server and client')`

[2017-03-24 18:02] jshah4517 commented on #122
I had a go at a solution which makes the use of a relative date real-time too, the changes are hopefully fairly minimal. It seems to work quite nicely.
https://github.com/jshah4517/timeago.js/commit/029754ace95d2c4352540db6556fd40db2a8cf4b

What do you think? I would be happy to submit a PR if it would seem like a worthwhile addition.

Edit: I should just mention, I only aimed to get it working fo

[2017-03-24 18:14] likerRr commented on #122
@jshah4517 thank you for trying solve this issue 😄

I think that function `diffSec` should compare difference between it's args. But after your changes it seems like the functions calculates difference between time and offset, which is not very consistent. So probably we should think on it more.

And you are right. If we want this feature then the changes should work both for real-time and for for

[2017-03-24 18:34] jshah4517 commented on #122
@likerRr Yes, you're right, especially if wanting to maintain how it currently works for relative dates.

I would probably add a new function `offsetDate` which works it out with the offset (set offset to 0 and enter relative date if not wanting real-time) and that gets fed in to the `diffSec` function.

I'll wait for @hustcc, but I'm happy to give it a go if it seems like a good suggestion.

[2017-03-27 01:45] hustcc commented on #122
@likerRr @jshah4517
I have encountered this problem when I use timeago.js in other projects.

I think add one config namd `offset` is better then modify the function `diffSec`.

1. Keep the construction method unchanged.
2. Add one API `setOffset`(diff sec between server and client time, can be negative) on timeago instance, default is 0.
3. Sum the offset with the result of function `diffSec`.

T

[2017-03-27 10:07] jshah4517 commented on #122
This works, but I think the offset could be calculated automatically. Would there ever be a need to have an offset which is different to what the difference between the relative date and client time is?

My thought was a boolean for the third param `realtime`, where it works out and stores the offset automatically based on the relative date. In terms of compatibility, I guess it would need to be t

[2017-03-27 18:15] likerRr commented on #122
It could be automatically calculated, but i think a  manual value is more "user" friendly way.

Imagine the app that renders how much time until sale starts in some online shop for different countries. Here we need to set offset manually for each of the country.

So i think the solution proposed by @hustcc is well enought.

[2017-03-27 20:18] jshah4517 commented on #122
OK I agree, that solution will be the most flexible. 👍

@hustcc would you like a PR? I might have time later this week.

[2017-03-27 21:46] SomeoneCares11 opened #123 "Languages are not working!"
` timeagoInstance.format(agcccc, 'ar')`
return to english phrase not arabic !

any help?

[2017-03-27 21:54] SomeoneCares11 commented on #123
zh_CN works, but arabic no!

[2017-03-27 22:12] SomeoneCares11 commented on #123
[code]

[2017-03-28 01:52] hustcc commented on #122
Waiting for your PR ^_^

[2017-03-28 02:00] hustcc commented on #123
If you want to use locale `ar`, you can `register` first, below:

[code]

If not the reason, pls give me some code for test.

[2017-03-31 18:41] estk commented on #106
Shouldn't the constructor return an instance of itself?
(Notice the `this` in the `new()` signatures.)
[code]

[2017-03-31 20:17] likerRr commented on #106
I hope `this` keyword is implied. Anyway now it doesn't generate compilation errors

[2017-04-02 21:57] GuskiS opened #125 "TypeScript errors with noImplicitAny: true"
Hello. I'm having these errors when using `noImplicitAny: true` in `tsconfig.json`. Basicly it needs return type to defined, just not sure which one and how to do it. Is `timeago.d.ts` file created automatically?

[code]

[2017-04-03 06:25] likerRr commented on #106
@estk constructor is removed since the `timeagoFactory` returns an instance #126

[2017-04-04 12:56] #125 closed, assigned to nobody

[2017-05-04 10:24] fiznool opened #127 "Error using library with TypeScript 2.2.2"
When using the code snippet:

[code]

I get a Typecript error:

[code]

I'm using timeago.js v3.0.1, here is a screenshot of my usage.

<img width="608" alt="screen shot 2017-05-04 at 11 22 10" src="https://cloud.githubusercontent.com/assets/820863/25699697/39c0902c-30bc-11e7-948d-bc1f2b015a69.png">

[2017-05-04 10:29] fiznool commented on #127
Oh, I see that the instructions on the documentation site are out of date, I was using `new timeago()` but it should just be `timeago()`. I'll open a separate issue to get the docs updated.

[2017-05-04 10:29] #127 closed, assigned to nobody

[2017-05-07 00:56] stylejinmu opened #129 "疑问"
src/timeago.js
1. 第44行的if判断是否可以去掉？
2. 第146行 0x7FFFFFFF 选这个数的标准是？转换成天数约为24.86天，不太明白！

[2017-05-07 01:21] hustcc commented on #129
toDate 方法没有加完整的 testcase，目前来看好像第 44 行可以删除。

0x7FFFFFFF 是 setTimeout 的官方标准，如果时间超过 0x7FFFFFFF，会导致异常。https://github.com/hustcc/timeago.js/issues/104

[2017-05-07 01:22] #123 closed, assigned to nobody

[2017-05-17 19:20] bonesoul opened #131 "how to use with webpack?"
[code]

the second line gives;

[code]
any ideas?

[2017-05-18 02:24] hustcc commented on #131
try:

[code]

[2017-05-18 09:37] bonesoul commented on #131
[code]

[code]

[2017-05-18 09:45] likerRr commented on #131
@bonesoul I think it's a reasonable error, since `timeago.locales` build process other then for the main lib.
Try to add [externals](https://webpack.js.org/configuration/externals/#object) to webpack's config file:

[code]

Or the other way is to use [`ProvidePlugin`](https://webpack.js.org/plugins/provide-plugin/#typical-use-cases):

[code]

[2017-05-22 11:03] likerRr commented on #131
@bonesoul have you had a chance to try it?

[2017-05-22 12:41] bonesoul commented on #131
nah not yet, but i'll give it a  try soon.

[2017-06-05 12:17] bonesoul commented on #131
[code]

worked

[2017-06-10 10:28] #129 closed, assigned to nobody

[2017-06-20 09:27] #131 closed, assigned to nobody

[2017-06-23 06:55] ali-master opened #135 "Please Release New Version"
Hi,

if you can, Please Release new version, because in current version, Persian Locale is not aviable for use.

Thanks to anyway.

[2017-06-23 10:24] hustcc commented on #135
I will release new version after the auto-render tested manually.

automation test in virtual dom environment.

[2017-06-23 11:32] ali-master commented on #135
So can you give me a release date?

[2017-06-23 11:33] hustcc commented on #135
today night, I am on the bus now😅

[2017-06-23 11:35] ali-master commented on #135
ooooh, Very thanks.
I hope success for you,

[2017-06-23 13:24] hustcc commented on #135
timeago.js@3.0.2 done.

[2017-06-23 13:24] #135 closed, assigned to nobody

[2017-07-05 15:32] devinmatte opened #136 "Defining a timezone"
I can't seem to find documentation that states that this exists. But I have a problem right now, where my server records in UTC, but the client could be an different timezone, and it will compare the timestamp from UTC to their current. Which causes problems with timestamps appearing as "in 3 hours" when in reality they were 23 minutes ago. I know I can compare the client time to UTC and subtract

[2017-07-05 23:28] hustcc commented on #136
This is same with issue #122

[2017-07-12 21:41] aghassemi opened #137 "Support 'today', 'tomorrow', 'yesterday' when time is not specified"
Would be nice to have fuzzier formatting by omitting time. Use-cases such as "In theaters <in 2 days, tomorrow, today>" can benefit from this.

[2017-07-13 01:47] hustcc commented on #137
Means when date such as `2017-07-14` is given, then shows `tomorrow `?

How many fuzzier formatting strings?

[2017-07-13 02:26] aghassemi commented on #137
Yes, Exactly

[2017-07-13 08:16] likerRr commented on #137
I think you can add a custom language and implement this logic yourself, e.g.:

[code]

[2017-07-13 16:02] aghassemi commented on #137
Thanks @likerRr! We will implement it as suggested on our side.

Closing the issue.

[2017-07-13 16:02] #137 closed, assigned to nobody

[2017-08-11 10:40] Nemo64 opened #139 "Adjust "days""
I noticed something.
If I do `timeago().format(new Date("2017-08-09 18:00"))` (it is 2017-08-11 12:39 right now) I get `1 day ago`. But in human terms, thats wrong. For me it was actually `2 days ago`, even if it weren't 48 hours. If you say 1 day ago I assume that it was yesterday, not the day before late in the night.

[2017-08-11 10:42] Nemo64 commented on #139
The same could be true for months, if I use `timeago().format(new Date("2017-06-11 18:00"))` I get `1 month ago`. Actually it was 2 months ago.

[2017-08-11 11:09] hustcc commented on #139
Close to two days, but less than two days, so it was a day ago.

[2017-08-11 12:59] Nemo64 commented on #139
I know that it is "technically correct" (which is the best kind of correct) but it feels wrong.
I have a small blog and noticed that even google says in one of my entries "6 days ago" while timeago only say "5 days ago". I posted something on saturday evening so i'd consider 6 days ago correct. Tomorrow it will be a week ago.

The implementation I'd consider "more human like" would be (pseudocode)

[2017-08-11 13:27] hustcc commented on #139
There are some truths.

But Google's index time is quite special, Google through the crawler to obtain the published time is not necessarily accurate time.

In addition, we can refer to github, gitlab, Facebook or wechat, and how they do with it?

[2017-08-12 10:31] Nemo64 commented on #139
The google indexer can't find my page before it was published... I hope. so their date difference is either equal (if they use my metadata) or lower (if they use the first index time).

To your question, If I understand correctly you want to check how others implement it?
Here is githubs implementation: https://github.com/github/time-elements/blob/v0.6.1/time-elements.js#L150
It's kind of wanky an

[2017-08-12 15:12] hustcc commented on #139
github used `Math.round`, include the star count of project.

[2017-08-15 08:43] Nemo64 commented on #139
So, what now?

Is this rejected? Is this on the todo list? (I'd try to implement it if you agree with the behavior change)

[2017-08-15 09:00] hustcc commented on #139
This is a huge change. We must be careful, or will affect the user which has been used it.

## 👏  Need to vote for it.

**1. Accurate calculation**

This is the current mode.

| time diff | formatted string |
| ---------| ------------ |
| 61 seconds | 1 minute ago |
| 110 seconds | 1 minute ago |
| 170 seconds | 2 minute ago |

----

**2. Human calculation**

@Nemo64 's thoughts.

| time diff | fo

[2017-08-17 15:31] likerRr commented on #139
Can we implement this not by remaking current behavior, but by adding a new option to constructor to have ability to switch between formats?

[2017-08-17 15:38] likerRr commented on #139
I think it also can be solved by adding corresponding locale files. Every locale has access to `diff`, `index`, and `total_sec`. I think these data is enough to change returned time intervals. @Nemo64 Am I right?

[2017-08-21 07:51] Nemo64 commented on #139
@likerRr I honestly don't know, I don't see how that would work. Or do you mean it should be implemented that way?

In this case I'd rather be for a useful default. I mean what am i deciding on when using this library? Fuzzy dates or slightly different fuzzy dates. I'd have to think about what I really want and how should I know? If you put an options there I suspect 99% of installations won't use

[2017-08-22 02:05] hustcc commented on #139
@Nemo64

It can be implemented by customized `locales`, but it is not the perfect way.

We can only choose one mode from `Accurate calculation` and `Human calculation` which is the most suitable for timeago , but no matter which one, all the locales maybe rewrite or review.

And which one to choose is not only by our decision, it will has great influence on all the users, so if there is no strong

[2017-08-24 09:58] likerRr commented on #139
@Nemo64 I meant it can be implemented using locale files.

But, @hustcc I tried to implement it with locales and honestly we cant do it at least because in locales we don't know in which side "ago" or "in" diff is directed. So to solve this we should pass `agoin` variable to locales function too. In this case we would be able to use locales to customize displaying of dates like @Nemo64 wants.

The

[2017-08-24 10:09] likerRr commented on #139
@Nemo64 I meant it can be implemented using locale files.

But, @hustcc I tried to implement it with locales and honestly we cant do it at least because in locales we can't change resulting `number`. So to solve this we should pass `agoin` variable to locales function too. In this case we would be able to use locales to customize displaying of dates like @Nemo64 wants.

The example of updated lib

[2017-08-24 13:21] fhefh2015 opened #140 "IE8 can not be used!"

[2017-08-24 17:03] likerRr commented on #140
Please, describe your issue

[2017-08-25 02:11] hustcc commented on #139
@likerRr Function `humanyfy` is really black technology. ^_^

Move `agoin ` into locale function is reasonable. I do not know why the parameter `agoin` is treated differently.

After move the `agoin`, Main version should be update, and the usage of locales will has a bit of difference.

[2017-08-25 06:28] likerRr commented on #139
haha, yeah, It just parses diff time to the state it was before passing to locales method.

Also I found that formula:

is not accurate. We should compare diff time with the **nearest period** multiple `n` plus half of nearest period. Nearest period is a result of multiply of `[60, 60, 24, 7, 365/7/12, 12]`. So basically *nearest period* is a `second(s)` or `minute(s)` or `hour(s)` and so on, whic

[2017-10-24 01:53] laoqiuqiu opened #141 "这个能不能转成JScript？"
我想在windows环境下调用，但是运行错误，能不能帮忙转到Jscript，谢谢！

[2017-10-24 02:52] hustcc commented on #141
windows 环境也可以使用 JavaScript 的吧？

[2017-10-24 06:32] laoqiuqiu commented on #141
javascript不行，得是jscript，有些javascript的特性jscript没有。

[2017-10-24 07:36] hustcc commented on #141
jscript 用来开发什么？跟js什么关系？

[2017-10-24 08:50] laoqiuqiu commented on #141
https://en.wikipedia.org/wiki/JScript

用于Windows Script Host，作用类似vbscript。

[2017-10-25 00:27] hustcc commented on #141
那这个可以另开一个项目，自己翻译一下吧。

[2017-10-27 16:09] #141 closed, assigned to nobody

[2017-11-09 09:59] zhaokuohaha opened #142 "Can it reverse analyze ?"
Hi:
  Can timeago analyze string to datetime ? like this:
  input: 1 year ago
  output: a date value ( 2016-11-09)

😃 😃 😃

[2017-11-09 14:26] hustcc commented on #142
There are other libraries to do this.

[2017-11-20 01:40] #142 closed, assigned to nobody

[2017-11-29 21:34] sublimeye commented on #137
I have an issue with this approach.

Let's say now is "November 1 19:00"
If I set the date to "November 2 13:00" it still returns "today" even though it's definitely not today. Is there a workaround to support correct recognition of yesterday/today/tomorrow?

[2017-12-05 00:05] niklasf opened #143 "Tests failing with expected 5月后 and actual 4月后"
Some tests are failing with what looks like off by one errors, for example:

[code]

Seems to be always in the

[code]

test case.

[2017-12-05 09:11] likerRr commented on #137
@sublimeye can you solve your issue by just changing the wording from "today" to e.g. "in a day"?

[2017-12-06 19:11] 0x410c opened #145 "all dates showing just now"
applying timago.js with jquery selector render date to just now,

timeago().render($('.lastConnected'));

gives just now on every time and doesn't update

[2017-12-06 23:31] hustcc commented on #145
Please show us the html code.

[2017-12-06 23:40] hustcc commented on #143
You can write some demo code to debug it.

The problem can not appear on my pc.

Thank you~

[2017-12-06 23:40] #140 closed, assigned to nobody

[2017-12-06 23:57] niklasf commented on #143
Oh, intresting. I will try on more machines and see if I can make it reproducible.

[2017-12-07 09:17] 0x410c commented on #145
[code]

[2017-12-07 09:38] hustcc commented on #145
there should be an attribute named `datetime` to tell the library what is the time?

[2017-12-07 10:55] 0x410c commented on #145
it does'nt take it from inside tag value?

[2017-12-07 11:04] hustcc commented on #145
No. from attribute named datetime.

[2017-12-07 11:16] 0x410c commented on #145
ok, sorry for trouble, it would be nice if it can do that though

[2017-12-07 12:07] hustcc commented on #145
That is not a perfect way.

[2017-12-11 03:18] axelboc commented on #139
I feel like the problem is not about rounding the difference up or down but more about how that difference is calculated in the first place. The original issue and first few comments relate specifically to days, because this is the most obvious case.

Let's say that it is now 2pm on Monday 11 December, and that I published an article three days ago, on Friday 8 December at 5pm.

[code]

In human t

[2017-12-11 05:56] #145 closed, assigned to nobody

[2017-12-12 11:22] niklasf commented on #143
Turns out the test failure is timezone dependent.

Passing:

[code]

Failing:

[code]

[2017-12-14 03:52] fanpenghuix opened #148 "写了一个vue的版本，怎么pr进来"
https://github.com/cdoneshot/timeago-vue

[2017-12-14 04:23] hustcc commented on #148
需要怎么 pr 进来？加一个链接吗？可以加到首页地址里面。

另外，给你拉到一个私有项目中来了！

[2017-12-14 04:39] hustcc commented on #143
So we should set the env before execute the testcases?

[2017-12-14 05:10] fanpenghuix commented on #148
没在首页看到有vue版本，本来想在你的项目新开一个vue版本的分支，直接pr，你统一来发布到npm.原来已经有了

[2017-12-14 05:25] hustcc commented on #148
目前做的这个私有项目也是另外一个朋友写的，但是一直都是半成品状态，所以还没有发布出去！

[2017-12-18 23:06] sublimeye commented on #137
@likerRr Well, I could solve it by changing the wording to "tomorrow" but the problem is that library is "numbers" oriented and I'm not sure if there's a way to change the behavior.

Here's an example:
Now is "23:00 January 1st"
You check *timeago* against "02:00 January 2nd".
The library will return *in 3 hours* whereas I would want it to say "tomorrow".

Even if you create your own "customizatio

[2018-01-02 06:15] #148 closed, assigned to nobody

[2018-01-30 12:21] ghost opened #149 "How to import locales with "import syntax"?"
If I use

` import timeago from 'timeago.js';
`
How I can import a locale?

[2018-01-31 14:51] hustcc commented on #149
import xx from 'timeago.js/locales/xx.js'

[2018-02-03 15:32] #149 closed, assigned to nobody

[2018-02-16 17:02] neuropass opened #150 "Ajax call how to trigger update of the div?"
How Can I trigger the instance update on a ajax call?

I tried this:

`var timeagoInstance = timeago();`
doesn't seem to be working :-/

[2018-02-19 03:31] alexvazquez opened #151 "OnChange event when value reaches X minutes"
Is there a way to trigger an event when the value reachs X amount of minutes?

Thanks

[2018-02-19 05:29] hustcc commented on #151
You can trigger the event in your locate code.

[2018-02-19 16:00] alexvazquez commented on #151
Is there any example on how to do this? Thanks

[2018-02-19 18:43] #150 closed, assigned to nobody

[2018-02-19 18:43] neuropass commented on #150
delete pls

[2018-02-20 07:42] EvilJordan commented on #122
Aw, man. I got all excited someone else had solved this and then... no pull request :(

[2018-02-28 01:57] hustcc commented on #151
[code]

[2018-03-22 22:50] EliveltonRepolho opened #153 "Is yeat possible to show always in minutes ?"
I have a situation that we has a room where people stays there wainting for to be attended.

If the time the person arraived is more than an hour... the libery show '1 hour ago' until turns '2 hours'.

What I need is to show always in minutes the time, for example ... '72 minutes ago'

Some one can help ? Or the lib already do this and I haven't understud how to use.

Thanks a lot

[2018-03-22 22:58] hustcc commented on #153
You can register your own locale function, and return the value string as you want.

[2018-03-23 20:56] EliveltonRepolho commented on #153
@hustcc I didn't understand how to do with locale... this wasn't for translanting ?

I thougth some thing like this... works fine... I don't know if its is the right way to implement... but the idea is:

[code]

And in <code>inWords</code> function did:
[code]

So with this <code>jQuery.timeago.settings.methodShowTime = $.timeago.SHOW_ONLY_UNTIL_MINUTE;</code> can aways show in Minutes as maximum

[2018-04-23 13:33] kingroryg opened #155 "timeago doesn't work for epoch with time zone"
Using the epoch value as `1524490129` which is equal to `Monday, April 23, 2018 6:58:49 PM GMT+05:30` ([check here](https://www.epochconverter.com/)) with timeago gives me weird answer.

[code]

[2018-04-23 13:39] hustcc commented on #155
Try 1524490129 * 1000.

[2018-04-23 13:39] #155 closed, assigned to nobody

[2018-05-20 03:36] hustcc opened #156 "v4.0.0 is working in progress"
Working code is on branch `master`.

 - rewrite with es6.
 - coverage test cases to 100% with jest.
 - refactoring code structure.
 - bundle with rollup & babel.

## What to be done?

- [x] test coverage, src & locales
- [x] code of locales translated to ES6
- [x] new API design
- [x] locale file format

### new API

[code]

[2018-05-20 09:34] likerRr commented on #156
Hey, nice news about v4
Why did you chose rollup for bundling?

[2018-05-20 10:02] hustcc commented on #156
For tiny library, rollup bundle size is smaller then webpack. Webpack's module code can reach to 1 kb.

Is there any other better choice?

[2018-05-22 05:48] likerRr commented on #156
It's difficult to say in advance. I haven't tried rollup, but I used to work with webpack for a long time. I think we can compare the resulting bundle size when v4 is ready and then chose the better one

[2018-05-22 07:39] hustcc commented on #156
@likerRr v4 is always ready. You can do your test. Thank you.

[2018-05-27 07:05] aprilmintacpineda commented on #122
Please update the readme to include instructions as to how to use this feature.

[2018-06-07 15:40] pavloko commented on #149
It'd be great to add this to the docs. I wonder why you don't support other locales by default with syntax `timeago(null, 'de').format(new Date())`?

[2018-06-10 10:21] thedotedge commented on #122
No PR still? 😢

[2018-06-10 17:24] Animalejourbano commented on #122
Is this already available or still an issue?

[2018-06-10 18:58] EvilJordan commented on #122
I have this working, but it relies on both a server-side passing of data and a modification to how one calls timeAgo (by passing in an element ID, though one could easily modify the below for a class or multiple elements at once:

In the Javascript (and this is jQuery specific):
[code]
The server passes along a unix timestamp of the object you're looking to track's last updated date (`lastUpdateTi

[2018-06-11 05:03] hustcc commented on #122
You can design it into v4.0.0, code is on `master`.

I think `timeago` need a global configure for:

 - default locale
 - timezone
 - offset between server and client
 - ...

[2018-06-11 05:05] hustcc commented on #149
Support all locales by default will make bundle larger.

[2018-06-11 05:09] hustcc commented on #153
@EliveltonRepolho code below:

[code]

and I think add config like below is not a very prefact way:

[code]

[2018-06-11 05:11] #151 closed, assigned to nobody

[2018-06-11 05:11] #143 closed, assigned to nobody

[2018-06-11 05:12] #153 closed, assigned to nobody

[2018-06-11 05:14] #136 closed, assigned to nobody

[2018-06-11 12:44] pavloko commented on #149
A valid point. I was thinking that Webpack/Rollup can optimize for this.

[2018-06-11 13:26] hustcc commented on #149
You can have a try with a pr.

[2018-06-11 13:50] pavloko commented on #149
Can't promise:) Thanks for the great lib!

[2018-06-11 14:18] sprlwrksAprilmintacpineda commented on #122
@hustcc or maybe what we can do is provide it a `timezoneFrom` to `timezoneTo`. Better yet, we can have a configuration where `timeago` automatically converts to the browser's / device's default timezone from a particular timezone...

[2018-06-13 15:06] ppetree opened #157 "Docs are unclear to me"
I've read the docs and viewed the demo code.

If I understand this correctly, the times that I need rendered are wrapped in <time></time> tags as in this example:
`<time class="strong single">when you opened the page</time>`

And to render timeago on a single element you call
`timeago().render($('.single'));`

What I fail to understand is how to get timeago to update on all elements of type <time>

[2018-06-13 17:09] ppetree commented on #122
Just remember, offset will change.  If I activate the app on GMT-5 (NY) and fly to LA my GMT will now be -8.

Really what you want to do is to get the offset on init.  If you need a parameter, it should be a flag to ignore the offset.

[code]

[2018-06-14 01:53] hustcc commented on #157
You should call `timeago().render(element)` for the new elements those are dynamically added.

The element must conrtains attributes named `datetime`.

[2018-06-20 09:31] #157 closed, assigned to nobody

[2018-09-19 03:35] acusti commented on #139
I used the `timeago.register()` custom locale API to implement more UX-friendly output for various awkward times ago where the default behavior is lacking. This includes:

* Counting days ago based on the day on which the datetime occurred relative to the current day; e.g. if the datetime is from Wednesday, and it’s currently Friday, it will show “2 days ago”, regardless of when during the day it

[2018-09-24 23:49] acusti commented on #139
In case the codepen project is too confusing, here’s just the custom locale:

[code]

[2018-11-04 03:28] nayfield commented on #122
What I'd be interested in (and might solve some of the other use cases) would be the functionality to set a flag that indicates "treat all dates as UTC".

(To be clear - I'm only concerned about timezone differences, *not* the out-of-sync client problem)

The best pattern here is for the server to provide all times in UTC - and allow the clients to handle the conversion from their local timezone.

[2018-12-06 07:40] IceCreamYou commented on #156
I see that several months ago there was a beta release of v4 on npm, however I don't see the corresponding tag or commits on GitHub. As a result I am unable to determine if I should upgrade because there is no list of changes, and it sounds like some of the changes could be backwards-incompatible.

Would it be possible to publish the changes on GitHub or at least provide a list of the differences

[2018-12-06 07:57] hustcc commented on #156
@IceCreamYou Sorry for confusing, 3.0.2 recommended for you.

[2018-12-11 15:26] ghost opened #165 "add word for describe month in zh-CN and zh-TW"
In both [zh-CN](https://github.com/hustcc/timeago.js/blob/master/src/lang/zh_CN.js) and [zh-TW](https://github.com/hustcc/timeago.js/blob/master/src/lang/zh_TW.js) . we use ['%s 月前', '%s 月后'] and ['%s 月前', '%s 月後'] to show month ago and in month.
Do u think is it a good idea to add  个 after datetime format, so it will look like ['%s 个月前', '%s 个月后'] and ['%s 個月前', '%s 個月後'].
Buz when i read the doc

[2018-12-12 00:04] hustcc commented on #165
You are right. You can send a pr for this.

[2018-12-12 01:36] hustcc commented on #165
In v4.0.0, I will change the api:

[code]

What do you think of this design?

[2018-12-12 18:29] ghost commented on #165
LGTM!!!!
There is only one that i would like to modified is **cancel all**

I personally think cancelAll() will be more clear to understand.
Back to cancel(id), cancel(dom), dev  **have to  put** argument to tell what them want to cancel and invalid to use it with no argument.

At the end, it is just my little opinion if author have further idea or thought, i am willing to discuss with u!!!!!!!!

[2018-12-13 01:14] hustcc commented on #165
The more Api, the harder it is to understand.

Give 2 api for cancel, seem redundant.

[2018-12-14 01:51] #165 closed, assigned to nobody

[2018-12-14 18:21] ghost opened #169 "npm run test show 'NODE_ENV' is not recognised as an internal or external command"
when running `npm test` in windows i face the problem like #162
**NODE_ENV is not recognised as an internal or external command**
[code]
my machine env
**environment : windows7
     node : v7.6.0**

but after i run the test  on my RedHat machine, it works!!!!

so i google it [NODE_ENV is not recognised as an internal or external command](https://stackoverflow.com/questions/40034690/node-env-is-not

[2018-12-15 00:46] hustcc commented on #169
Ok, you can give me a pr, thanks.

[2018-12-15 05:04] #169 closed, assigned to nobody

[2019-01-06 10:05] tnir opened #172 "Test with current LTS and current release"
Test the package with current LTS and current release.

cf. https://github.com/nodejs/Release

[2019-01-06 12:20] #172 closed, assigned to nobody

[2019-01-17 18:17] Bramzor opened #175 "All languages needs to be registered"
Im trying to use timeago.js in Angular but have a hard time registering the locales because I cannot use require()

How can I register them all (or a selection) by using only import?

[2019-01-17 20:53] Bramzor commented on #175
Found it, might be an idea to add it to the documentation
`import { nl as locale_NL } from 'timeago.js/lib/lang';`

[2019-01-18 04:54] hustcc commented on #175
Thanks, I will add the document in README.

if you want import all locales, maybe you can:

`import 'timeago.js/dist/timeago.locales.min.js'`

[2019-01-18 17:20] Bramzor commented on #175
Great library btw! I like the fact that it is small instead of having to import libraries that are a few MB just for the timeago feature. Thanks a lot!

[2019-01-19 00:29] hustcc commented on #175
😄

[2019-01-19 00:29] #175 closed, assigned to nobody

[2019-02-12 14:20] sky93 opened #176 "Use another number symbols"
Hello,

In standard persian language we don't use regular numbers like 1, 2, 3, 4, 5, 6, 7, 8, 9 and 0. Instead we have ۱, ۲, ۳, ۴, ۵, ۶, ۷, ۸, ۹ and ۰. In language file we only have `%s`. I need to replace 1 to ۱, 2 to ۲ and so on.

How can I do this in fa language file?

Thank you very much for your amazing library.

[2019-02-12 14:23] lolobosse commented on #176
I guess the answer is [here](https://github.com/hustcc/timeago.js/blob/master/src/locales.js#L7):

[2019-02-12 15:12] lolobosse commented on #176
Hey

It was actually a cool exercise 😄 🎉

Here is the answer with room for improvement.

https://jsfiddle.net/3c1e087n/1/

(For those who do want to open an extra tab)

[code]

[2019-02-12 15:59] sky93 commented on #176
Thank you so much for your answer. I almost did  the same thing. See my [pull request](https://github.com/hustcc/timeago.js/pull/177).

[2019-02-21 13:06] #176 closed, assigned to nobody

[2019-03-06 09:30] jacquesdev opened #179 "Register a language independent of locale"
I am adding a Spanish version of my app, and am using this library. The issue is that I need to register a language tied to a locale, however, I'd prefer if there was an option to register it for language only.

For example, instead of registering

timeago.register('es-ES', es)
timeago.register('es-MX', es)
timeago.register('es-AR', es)

I'd want to do something like timeago.register('es', es). Is

[2019-03-21 12:37] accetone opened #180 "No default export for ES6 module in 4.0.0-beta.2"
Get undefined when build with webpack 4

[code]

Work with import all syntax:

[code]

So seems like default export missing.

[2019-03-22 21:15] jayrbolton commented on #180
Also just found this the hard way, +1

[2019-04-23 12:57] craftystudio commented on #19
Polish locale has mistakes @jcubic .

[2019-04-23 13:57] jcubic commented on #19
@craftystudio what mistakes?

[2019-05-17 15:53] rightaway opened #182 "Document differences with built-in Intl.RelativeTimeFormat"
Could you add the differences between this and `Intl.RelativeTimeFormat` (available in latest JS engines) to documentation so that people starting new projects could compare and decide which to use? What functionality does this have that's missing from that?

And an official recommendation too, do you still suggest using this package now that Intl.RelativeTimeFormat is available or would you say t

[2019-05-21 20:40] gamesover opened #183 "Limit timeago to parse after a specific timestamp"
Basically I want to achieve the same thing as https://github.com/jgraichen/rails-timeago#usage. Actually the function requested in https://github.com/rmm5t/jquery-timeago/issues/95

[2019-05-30 10:16] xilibro commented on #180
save my life

[2019-05-31 03:41] hustcc commented on #180
@accetone @jayrbolton Should do something on your start kit.

e.g. If you are using typescript, set `compilerOptions.allowSyntheticDefaultImports = true` in your tsconfig.json.

[2019-06-02 06:59] accetone commented on #180
@hustcc thanks for the reply. I'm sure that when I opened this issue the docs (at least on npm) said use default import which not work. Now the docs okay, so I will close.

[2019-06-02 06:59] #180 closed, assigned to nobody

[2019-06-09 16:16] samuelmeuli opened #185 "Add `@types/jquery` as dependency"
I am using `timeago.js` in a TypeScript project. When compling the code, I get the following error:

[code]

Adding `@types/jquery` as a `dependency` instead of a `devDependency` in this library should fix this problem. This is also what was suggested in an [earlier comment](https://github.com/hustcc/timeago.js/pull/107#issuecomment-282638879).

[2019-06-10 00:50] hustcc commented on #185
add as peer dependence is better.

[2019-06-12 19:16] tofra commented on #185
Is your error solved with this fix @samuelmeuli ?

[2019-06-13 08:59] samuelmeuli commented on #185
Yes, it is, thanks!

[2019-06-17 01:43] hustcc commented on #185
@tofra add `@types/jquery` into your package.json.

[2019-06-17 06:20] hustcc commented on #183
Means when timestamp > someValue, then parse it?

[2019-06-17 09:35] #185 closed, assigned to nobody

[2019-06-17 09:37] hustcc commented on #179
nice idea, maybe can help with a pr.

register all languages startWiths`es`.

[2019-07-20 12:25] mauron85 commented on #139
I'll be bit harsh here. But IMO, only so called "Human calculation" make sense in context of timeago libraries. Only we human need such a shortcuts when reasoning about time. Computer do not care.

But it's loosing it's purpose when trying to be exactly correct aka `Accurate calculation`. Because it forces me to think again, that if day ago is actually 1 or 2 days ago.

[2019-07-24 08:25] stof commented on #182
`Intl.RelativeTimeFormat` provides only the equivalent of the `format` method of this package. It does not offer the updates of elements in the DOM based on a timer.
Also, the generated messages might not be exactly the same.

[2019-07-24 08:36] stof commented on #182
also, `Intl.RelativeTimeFormat` does not perform the selection of the unit of the diff. So it is not even equivalent to `format`, but only to part of it (so a subset of the `formatDiff` internal function).

`Intl.RelativeTimeFormat` could be used in a modern version of timeago.js to avoid the need to maintain all the locales, that's all.

[2019-08-06 10:24] saosangmo commented on #183
I also like this feature.
If the date is over one year, I want to display the real date: 20-01-2017.
How can I do it?
Many thanks

[2019-08-13 11:40] hustcc commented on #182
hah, maybe `timeago.js` can be a polyfill of `Intl.RelativeTimeFormat`.

[2019-08-13 11:41] hustcc commented on #183
Will be considered after this pr https://github.com/hustcc/timeago.js/pull/171

[2019-08-19 11:55] bvamos opened #193 "Hungarian translation"
Hi, thanks for your work to support Hungarian, and let me have a suggestion to the Hungarian translation.

Past tense versions of the texts are perfect.
Future tense version are grammatically fine, but I would use a different format. For example:

English: 'In 2 minutes'
Current Hungarian translation: '2 percen belül' means (for me) sometime between now and 2 minutes later.
Suggested translation:

[2019-08-20 08:24] dehghani-mehdi opened #194 "Should I solve a puzzle to see direct download link of your plugin?"
Please provide direct link to the ready-to-use js file (uncompressed and compressed)

[2019-09-15 13:13] SiteSplat commented on #194
https://github.com/hustcc/timeago.js/blob/master/gh-pages/timeago.min.js

[2019-09-18 00:10] cekvenich commented on #194
CDN: https://cdn.jsdelivr.net/gh/hustcc/timeago.js@3.0.0/dist/timeago.min.js

[2019-09-20 06:06] leopku opened #196 "Error: 'format' is not exported by node_modules/timeago.js/lib/index.js"
Environment:

Node: 12.8.0
Svelte: 3.12.1
timeago.js: ^4.0.0-beta.2

App.svetle
[code]

throw `Error: 'format' is not exported by node_modules/timeago.js/lib/index.js`

[2019-09-20 06:14] leopku commented on #196
After reading existing issues, I found this issue was caused by no default exports by timeago.js

Fixed code was here:
[code]

[2019-09-20 06:14] #196 closed, assigned to nobody

[2019-09-28 21:14] akaSybe opened #197 "Can't use timeago.locales.min.js"
Can't figured out how to use "timeago.locales.min.js" in ES environment.
Every time it crashes with 'timeago is not defined'.

None of these import before locales import help: `import "timeago.js"` or `import timeago from "timeago.js"`

I created demo repository:

https://github.com/akaSybe/rollup-timeago-import-trouble-example

[2019-09-28 21:51] akaSybe commented on #197
This happens cause in ES environment `timeago` will never be registered as global variable, so in `timeago.locales.min.js` `global.timeago` just doesn't exist

[2019-09-30 18:34] Textras commented on #156
@hustcc is 4.0.0-beta.1 production-ready? I see this discussion was from Dec 2018 and no removal of beta flag. Thanks.

[2019-10-12 02:34] hustcc commented on #197
You should import timeago first, then import timegao.locales.

[2019-10-12 02:34] #197 closed, assigned to nobody

[2019-10-12 02:34] hustcc commented on #194
Lib and dist file all in npm package.

[2019-10-12 02:34] #194 closed, assigned to nobody

[2019-10-12 02:35] hustcc commented on #193
I do not know the language, this should be discuss in locale.

[2019-10-12 02:37] hustcc commented on #183
there will be a option name `maxDiffSecond`.

[2019-10-12 02:37] #182 closed, assigned to nobody

[2019-10-12 02:38] hustcc commented on #179
I think this will be hold, or you can give me a pr.

[2019-10-12 02:38] hustcc commented on #156
The week will be release v4.0.0.

[2019-10-12 02:38] #156 closed, assigned to nobody

[2019-10-12 02:39] hustcc commented on #139
Can be solved by customize locale.

[2019-10-12 02:39] #139 closed, assigned to nobody

[2019-10-12 02:40] hustcc commented on #122
this will be related to network, I think it will not be considered in this module. sorry~

[2019-10-12 02:40] #122 closed, assigned to nobody

[2019-10-12 03:01] hustcc commented on #183
This will contains two options?

 - limit
 - format

[2019-10-13 00:18] hustcc opened #200 ":writing_hand: v4.0.0, sorry for late!"
**1 year ago**, open the [v4.0.0 issue](https://github.com/hustcc/timeago.js/issues/156), sorry for late.

----

4.0.0 will contains below:

- [x] rewrite with ts.
- [x] remove class, simplify to 4 API
- [x] bundle with rollup
- [x] build cjs & esm
- [x] remove jquery dom node supported
- [x] test run with [jest-electron](https://github.com/hustcc/jest-electron) for dom environment
- [x] core code

[2019-10-13 10:10] hustcc commented on #200
v4.0.0 released.

[2019-10-13 10:10] #200 closed, assigned to nobody

[2019-10-14 09:56] stof commented on #182
well, timeago.js would rather be something build on top of Intl.RelativeTimeFormat in the future (or today with a polyfill), responsible for selecting the relevant diff to format.

[2019-10-14 10:13] hustcc commented on #182
format is for polyfill. render is based on polyfill.😂😂😂

[2019-10-17 11:53] Enngage opened #201 "Invalid types"
Hi,

From version 4 there seems to be an issue with types (or underlying code) for creating custom locales. For example, if you use this code from readme on version 4:

[code]
It would not compile - the `index` previously used `number`, but now it takes `string` - why?

The return type of  [string, string] is also incorrect - since you are returning array of arrays and not array with 2 values.

[2019-10-17 12:03] hustcc commented on #201
1. What is the meaning of `It would not compile - the index previously used number, but now it takes string`?

2. The return type must be string array with length = 2, see the code `[index]`

[2019-10-17 14:15] Enngage commented on #201
Hey,

1) The signature of your `LocaleFunc` is

[code]

However, in your readme you are passing `[string, string]` because you have array where one parameter is another array and the other is number (see `index` in your readme)

2) same as above :-)

[2019-10-17 14:39] hustcc commented on #201
[code]
The element of two-dimensional array is one-dimensional array.

typescript can not automatically derive the correct type.

[2019-10-23 01:17] #201 closed, assigned to nobody

[2019-10-23 08:20] ali-hellani opened #203 "Urdu locale"
any help to add urdu locale !

[2019-10-23 12:12] Enngage commented on #201
But you are casting `index` which is number to a `string`, right? You are using incorrect types which is why you have to use 'as'.

[2019-10-24 12:09] hustcc commented on #203
If you're local, you can help to pr.

[2019-10-25 07:30] OrKoN opened #204 "A version without built-in locales?"
Hi!

Thanks for working on the lib and a new version. I am wondering if it's possible to exclude built-in locales (en and ch_ZN) from the bundle. In my use case, I generate code bundles per language and I manually register the correct language in the build process. It'd be good to remove the built-in ones when a different language is used, to reduce the bundle size. Anyway, not a big deal, but wha

[2019-10-25 07:39] hustcc commented on #204
So 3 bundle:

 - timeago.none.min.js
 - timeago.min.js
 - timeago.full.min.js

Also should ensure the commonjs has build-in locales. There seems to be no good way?

[2019-10-25 07:47] OrKoN commented on #204
I am using ESM so not using the bundles published to npm. Probably, I didn't express it right: I'd like to exclude built-in locales from *my* bundle not the bundles published by timeago.js to npm. My code is like this:

[code]

I guess until the built-in locales are imported for the register function https://github.com/hustcc/timeago.js/blob/master/src/locales.ts#L8 my bundler cannot optimize and

[2019-10-25 10:19] hustcc commented on #204
If remove build-in locales in `locases.ts`, the esm / commonjs will contains none build-in locales.

The plan is:

1. remove build-in locales in `locases.ts`
2. add `core.ts` to export api
3. export core api, and register build-in locales

[2019-10-26 08:27] #204 closed, assigned to nobody

[2019-10-28 19:48] ali-hellani commented on #203
Unfortunately i don't know urdu, will wait for that

[2019-10-30 17:22] jschrab opened #207 "Can HTML5 "data-*" custom attributes be targeted instead?"
In dom.ts, `getDateAttribute(...)` fetches the custom `datetime` attribute...
[code]
But AFAIK, HTML5 would prefer the use of **data-** prefixed custom attributes. I am in a development environment that returns proxy objects instead of direct DOM references. The handler for this proxy is strict and does not pass back any value to the `datetime` attribute. If the target attribute were (optionally)

[2019-10-31 12:56] jschrab commented on #207
Actually, being able to define what the name of the attribute should be would be even better:
[code]
...which would still work if the attribute was `data-datetime`.

[2019-10-31 15:09] WhiteLord opened #208 "Time ago pipe shows incorrect data when given a future date"

[2019-11-01 09:32] #208 closed, assigned to nobody

[2019-12-20 18:29] utkarsh2102 opened #213 "No GitHub release for 4.0.1?"
Hiya,
Whilst there's a 4.0.1 version available on npmjs.com but however there's no release for 4.0.1 on GitHub. If that's by mistake, could you perhaps make a release?

[2019-12-21 03:10] hustcc commented on #213
After this pr #214 done, I will release 4.0.2 by github action.

[2019-12-21 03:38] hustcc commented on #213
done.

[2019-12-21 03:38] #213 closed, assigned to nobody

[2019-12-31 08:29] eercanayar opened #216 "There is no timeago.js in the repo timeago.js"
This repo claims there is a cool tiny js library called timeago.js. Every link points to this cool github repo. I've downloaded everything I've found. They look perfectly cool but there is no timeago.js anywhere.

Maybe the timeago.js isn't something we can download, it's a vision and a dream about the time, the future. timeago.js is something everyone talks about, prepares github pages, documenta

[2020-01-02 17:03] shanecurran commented on #216
That's correct. Timeago.js is a way of life.

[2020-01-03 05:17] hustcc commented on #216
So, what is your appeal?

[2020-01-03 07:50] eercanayar commented on #216
To download timeago.js?

[2020-01-03 09:44] hustcc commented on #216
- add them into git is not very good.
 - upload package in each release, manual operation required, troublesome

Do you have good idea?

[2020-01-03 09:59] shanecurran commented on #216
We could use GitHub Actions to run the build and create either a dist folder or a build branch?

[2020-03-02 10:16] ghost opened #218 "Warnings in Parcel"
I'm getting the following warnings when using timeago.js in a webapp build with Parcel:
![image](https://user-images.githubusercontent.com/49151515/75667055-3e0b1a00-5c77-11ea-832b-6a8d30d1182c.png)

[2020-03-02 11:18] hustcc commented on #218
because of npm package do not contains src file?

[2020-03-02 11:21] ghost commented on #218
@hustcc correct, but then there should be no references to the src folder at least.

[2020-03-02 11:24] hustcc commented on #218
may be I should release a new version which contains `src`, or remove all the sourcemap files.

[2020-03-25 06:30] ziaulrehman40 commented on #183
For anyone looking for this, i wrote myself a simple function with help of stackoverflow:

[code]

Of course you can update the locale string you want to have as your needs.

[2020-04-22 15:57] alexbutav commented on #19
Russian locale doesn't work
`post.timePassed = timeago.format(new Date(dateStringUTC), 'ru');`
echoes 4 hours ago
while zh_CN locale echoes 4 小时前

[2020-04-22 16:32] lolobosse commented on #19
@alexbutav I could reproduce your issue by using a CDN. Is that what you did?

Actually I didn't know how it works (I'm the maintainer of the python version) and I had the same error.

If you look at CDNJS (for instance), you will see following:

![image](https://user-images.githubusercontent.com/5024077/80007906-3a518200-84c7-11ea-99ac-5c1ea22f1862.png)

The `min` version only contains `en` and `

[2020-04-22 16:56] alexbutav commented on #19
Greetings. No, i didn't use CDN, i installed it with npm
[code]
then imported in Vue Component
`import * as timeago from 'timeago.js';`
build with webpack
and then run

For now i took original **ru** locale and adapted it according to the doc. So after importing of `timeago.js` i register it manually:
[code]

**timeago_ru,js**
[code]

Interesting thing is that i can see 'ru' locale installed with

[2020-04-22 17:13] lolobosse commented on #19
Is that not what you're looking for? https://github.com/hustcc/timeago.js/issues/175#issuecomment-455328067

So I would import it and then register it (without copying the locale code)

[2020-04-22 18:15] alexbutav commented on #19
Feel myself very stupid... great thanks!

[2020-05-11 10:27] segux opened #219 "Module .js import statement specified"
Hi, im using timeago.js into a typescript project.

Typescript module import resolution without extensions will add .ts at the end of every import on transpiled files.
This is causing a lot of warnings because is trying to resolve ts files from timeago.js
Related issue:
https://github.com/microsoft/TypeScript/issues/16577

[2020-05-16 20:28] gnurgeldiyev commented on #19
Hey, @hustcc I just added tk locale.

here is the PR #220

[2020-06-02 03:41] frankiejarrett commented on #122
I had the same problem. The solution for me was just adding ` UTC` to the datetime string:

[code]

[2020-06-29 08:50] kaliopane opened #221 "Possibility to show x hours y minutes"
Is there a configuration option to show "x" hours "y" minutes ago or in "x" hours "y" minutes

[2020-06-29 13:22] kaliopane opened #222 "Incorect use of Math.floor()"
[Here](https://github.com/hustcc/timeago.js/blob/6613d4c5c9bd9bd280925e6832326a2ef784066f/src/utils/date.ts#L87) you're using this function for something that needs to be Math.round().
Currently, if you've marked a event with a UTC int timestamp, let's say x, and convert the number to hours based on specific event time y in the future, you will not get correct results. 50 minutes past the first ev

[2020-07-14 07:42] zubair-io commented on #216
You can always download it from here:

`https://unpkg.com/timeago.js`

[2020-09-01 08:26] HenryHuang2000 opened #227 "The CDN link redirects to the wrong path"
In previous versions, (eg unpkg.com/timeago.js@3.0.0) we are redirected to unpkg.com/timeago.js@3.0.0/dist/timeago.min.js

However, the latest release redirects to https://unpkg.com/timeago.js@4.0.2/lib/index.js

As a current workaround, I've been referring directly to <script src="https://unpkg.com/timeago.js@4.0.2/dist/timeago.min.js"></script> instead.

[2020-09-03 03:13] morrow95 opened #228 "Possible to selectively remove 'just now' and show seconds?"
Use case is I am automatically updating a portion of my page every 15 seconds.  I am using timeago to display the last time an update occurred.  By default, it shows 'just now' until it reaches '10 seconds ago'.  Is there a way to change this particular usage so it is 'just now', 1 second ago, 2 seconds ago, and so on as normal?  As I am updating this every 15 seconds I would rather show the secon

[2020-09-03 03:29] morrow95 commented on #228
Nevermind... noticed I can create and register a custom locale and use it.  Got it working.

[2020-09-03 03:29] #228 closed, assigned to nobody

[2020-09-14 14:54] ghost opened #229 "format() on any input returns '50 years ago'"
https://codepen.io/nainardev/pen/NWNzMPX

[2020-09-24 21:47] lolobosse commented on #229
Not if you use milliseconds (your input * 1000)

[2020-09-25 03:18] ghost commented on #229
Unix time is already in ms

[2020-09-27 10:57] lolobosse commented on #229
No yours is in sec:

![image](https://user-images.githubusercontent.com/5024077/94363197-e7f13e80-00c0-11eb-8f06-de5db62e5096.png)

[2020-10-06 13:40] kaliopane commented on #222
Any update on that?

[2020-10-06 21:26] haacked opened #230 "Uncaught TypeError: node.getAttribute is not a function when passed an empty node list"
Thanks for this great library! I found a potential bug with it though.

Suppose I have the following script that loads on every page.

[code]

It works great when a page has elements that match that query selector. But for a page that doesn't match the query selector, I get the following exception.

<details>
<summary><code>Uncaught TypeError: node.getAttribute is not a function</code></summary>
<

[2020-10-16 04:17] brasofilo commented on #142
Looking for the same and it's really hard to find the right keywords to research...
I've found this interesting code (but in Java): [java - Parsing date times in "X minutes/hours/days/weeks/months/years ago" format - Stack Overflow](https://stackoverflow.com/questions/12049480/parsing-date-times-in-x-minutes-hours-days-weeks-months-years-ago-format)

And ended up doing some brute force:

[code]

[2020-11-20 04:17] morrow95 opened #233 "custom locale question"
I know we can create our own locale with strings, but it is not clear to me how I can modify this to do what I want... or if it's even possible.

[code]

The default above will show 'just now' 10s in from the time and 'right now' 10s out from the time.  How can I change this so it shows 'right now' when it is exactly 0s and uses `['%s seconds ago', 'in %s seconds'],` for all other seconds up until

[2020-11-24 09:26] kaliopane commented on #221
No update here. Guess not.

[2020-11-24 09:30] kaliopane commented on #222
Is that library even maintained?

[2020-11-24 09:35] lolobosse commented on #222
If I were you, I would create a PR and see if it passes the tests :smile:

[2020-11-27 19:11] nicholaschiang commented on #207
When using `timeago.js` with React and Typescript, you're unable to specify the `datetime` attribute (but you are able to specify any custom `data-*` attributes, as suggested by @jschrab).

Current fix for me was to just use the [`timeago-react`](https://github.com/hustcc/timeago-react) package instead.

[2021-01-19 14:23] AnandChowdhary opened #236 "Incorrect future approximation?"
Today is January 19 2021, when I do `format('2023-01-19T14:23:07.418Z', 'en_US')`, which is exactly 2 years (minus some minutes), the rendered result is "1 year" instead of "2 years".

Most likely, this is because the current time (hours/minutes) is after 14:23, so it's actually 1 year, 364 days, 20 hours. I think this should be "rounded" to 2 years rather than 1 year, but perhaps this is a judgem

[2021-02-02 10:26] ulken commented on #218
Still seeing this. Any updates?

[2021-02-22 20:40] caroqliu opened #238 "Not all supported locales are exported together"
Five of the locales included in `lang/` are missing from `lang/index.ts`:

- cs
- da
- ka
- oc
- tk * This appears to be a special case since it wasn't released in 4.0.2

[2021-02-23 03:06] hustcc commented on #238
default only contains en, zh

other langs, should be import by yourself.

[2021-02-23 15:25] caroqliu commented on #238
I mean that they are missing from this file:
https://github.com/hustcc/timeago.js/blob/master/src/lang/index.ts

This causes them to be excluded from `full`:
https://github.com/hustcc/timeago.js/blob/7ebf670ec3d47af66b175225eb675354d12951c2/src/full.ts#L9-L11

Is this intentional?

[2021-02-23 15:33] hustcc commented on #238
Sorry, can help with a pr?

[2021-02-25 15:54] #238 closed, assigned to nobody

[2021-03-11 05:48] maneetgoyal opened #240 ".js.map source map parsing warnings in Webpack source-map-loader"
Getting the following warning:

[code]

Looking at the build routine in `package.json`, this package has:

[code]

TSC emits source map (`abcd.js.map`) like this:

[code]

The issue is related to "source" property above. Since `src` folder is missing from the timeago.js NPM distribution, Webpack source-map-loader is throwing warnings.

---

My current solution for the Webpack config is:

[code]

w

[2021-04-16 10:18] kulla opened #242 "Add possibility to change suffix / prefix like "ago" and "in""
First of all: Thanks for this library (as well as for https://github.com/hustcc/timeago-react ). :heart: We can successfully use them in our NGO.

*My feature request / question:* I wanted to use this library to display a message like `At this site since 2 days / 3 weeks / 1 year ...`. However, when I use https://github.com/hustcc/timeago-react there is always the suffix / prefix "ago" or "in". He

[2021-04-16 11:41] hustcc commented on #242
use registeLocale

[2021-04-20 12:46] albrnick opened #243 "CDN Error: Uncaught ReferenceError: exports is not defined"
I've tried using the CDN version (since I just want to include this in my straight html page), but the CDN version:

<script src="//unpkg.com/timeago.js"></script>

gives the error:

Uncaught ReferenceError: exports is not defined

Thanks for your time!

[2021-04-26 05:11] matheusbaumgart commented on #236
Have the same issue in hours, which is preventing me from using this awesome lib.
**Here is the issue:** If the time is 2:01 and there is an "event" at 4:00 it will say: in 1 hour.
Assuming because it's actually 1h and 59min until the "event". Since minutes are not shown, the estimation is misleading.

How do I show the minutes?

[2021-06-01 22:39] #229 closed, assigned to nobody

[2021-07-19 15:30] graywh opened #244 "Disable for @media print?"
I would like to show the plain timestamps when printing.  Has anyone done this?

[2021-07-23 05:06] RatherLogical commented on #243
Try this: `https://unpkg.com/timeago.js/dist/timeago.min.js`
Then reference the lib with `timeago.format()`

[2021-08-10 09:07] cope opened #245 "show less than 10 seconds integers instead of "right now"?"
Is it possible to show the actual seconds when less than 10s, instead of the curent defautl of "right now"?

[2021-08-26 20:09] alexolliveira opened #246 "Languages"
How do I implement a TS script language on my project? I'm using timeago.js

[2021-08-30 14:12] ulken commented on #218
@hustcc I could give it a try if you decide which route you want to go, i.e. what you want to be done.

[2021-10-25 14:28] gregfr commented on #243
Thanks a lot!! This should be in the doc...

[2021-10-26 02:06] hustcc commented on #243
add `browser: "dist/timeago.min.js"` in package.json will be ok.

[2021-10-27 04:55] #243 closed, assigned to nobody

[2021-11-03 05:12] fawwadshafi opened #247 "Time issue after appending row"
Hello,

I'm having an issue after the new row appending using the Ajax record. when the row is appended and I call the "time ago" it suddenly changes the time to "2 minutes ago" instead of "0 seconds ago". I'm testing on Demo server.

The same thing is working fine when I'm using on Localhost (xampp)

[2021-11-03 05:14] fawwadshafi commented on #247
This is my code

$(comment_HTML).insertAfter(parent);
                        // Load Timeago
                        $("body time.timeago").timeago();

[2021-11-15 00:16] #246 closed, assigned to nobody

[2021-11-15 00:19] alexolliveira opened #248 "JS Pure"
How do I implement PT-BR language no using typescript? I wanna use JS Pure

[2022-01-01 17:30] dani3434 opened #249 "is not being translated to pt_BR"
I'm trying to translate to portuguese but it's not working why?
![image](https://user-images.githubusercontent.com/43478316/147856420-ce603b5a-ad23-481d-9c22-c6cc42690a08.png)
![image](https://user-images.githubusercontent.com/43478316/147856410-3069e822-9e9d-4433-858d-51937bce1971.png)

result:
![image](https://user-images.githubusercontent.com/43478316/147856441-db027b0d-0d76-4c3b-8a8c-c8f6cfaa9

[2022-01-07 15:40] mslavan commented on #249
@dani3434  you should first register this locale
![image](https://user-images.githubusercontent.com/23456846/148567978-217b284c-bde3-40f4-abe8-c098fe2dbef0.png)
![image](https://user-images.githubusercontent.com/23456846/148567993-548027f5-85ca-4640-9c95-ffe1ac7035a2.png)
and then it will be available

[2022-01-25 09:28] kallaspriit commented on #240
I'm also facing the same problem and since I'm using Create React App then the webpack config is not easily configurable.

[2022-02-02 13:19] elite123 opened #250 "timeago().render(element) not updating"
I'm calling `timeago().render(element)`, the time is initially updating correctly, but it doesn't automatically update without refreshing,

e.g. it stays as 8 minutes ago and never changes to 9 minutes ago, if I refresh it will update

[2022-02-17 06:22] lanewinfield commented on #216
Let me save you far too much time to just find the damn js file:

https://unpkg.com/timeago.js@4.0.2/dist/timeago.min.js

[2022-03-10 00:52] Alxtaz opened #251 "Cannot register lang with CommonJS module in express project"
Hi,

I can't register the french language in my project, this is what i have done:

`const fr = require('timeago.js/lib/lang/fr');`
`const timeago = require('timeago.js');`

`timeago.register('fr', fr);`
`timeago.format('2016-06-12', 'fr')`

I got an error message: `TypeError: localeFunc is not a function`

However, in the file`timeago.js/lib/index` there is en_US and zh_CN **registered by default

[2022-03-13 13:16] tacman opened #252 "Documentation for importing languages"
I'm trying to render in Spanish, and am not sure how to configure timeago.

[code]

I imagine I'm not registering it correctly, but I can't find the documentation on how to do that.  Thanks.

[2022-04-06 15:15] cmdcolin commented on #240
I think adding "src" to the "files" array in package.json would fix this (in this package, not as a workaround in consumers of timeago)

[2022-04-08 10:23] kYem commented on #240
This would be useful to reduce the noise created by webpack, any downsides of adding `src` files?

[2022-04-25 09:13] aryankarim opened #253 "Kurdish locale"
Kurdish native here. I will try to add the translations for Kurdish locale.

[2022-06-16 09:05] lete114 commented on #251
Here are two ways that I hope will help you

[code]

[2022-08-01 08:37] imagine10255 commented on #240
You can remove the warning by adding GENERATE_SOURCEMAP=false to your .env file

Actually, CRA with Webpack 5.x cause it. They are working on resolving (https://github.com/facebook/create-react-app/pull/11752)

[2022-09-05 14:40] Alxtaz commented on #251
Thank you for your time @Lete114 it works !

[2022-09-05 14:41] Alxtaz commented on #251
Thank you for your time @Lete114 it works !

[2022-09-09 05:24] zac1st1k opened #257 "cs translations is not in the full.min.js bundle"
1. load full.min.js
2. call timeago.format(new Date(), 'cs');

Expected:
"právě teď"

Actual
"just now"

[2022-10-12 08:29] Luschor commented on #248
Try this:
[code]